<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'district' %}">
{% csrf_token %}
    
    <table>
        <tr>
            <th>State</th><td><select name="sid">
                <option value="0">--select--</option>
                {% for i in s %}
                <option value="{{i.id}}">{{i.sname}}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <th>District</th><td>
                <input type="text" name="dname">
            </td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>